numpy==1.26.0
pandas==2.1.4
nltk==3.6.2
seaborn==0.11.1
matplotlib==3.7.1
scikit-learn == 1.2.2
scipy==1.10.1
tensorflow==2.17.0
keras==3.2.0
xgboost==1.4.2
lightgbm==3.2.1
torch== 2.3.1
scikeras == 0.11.0
streamlit 
ml-dtypes==0.3.1